<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Equivalência</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <h1>Equivalência entre Automatos</h1>
    <div>
        <input type="button" class = "botao-voltar" onclick="location.href='/';" value="Voltar" />
    </div>
    <br><br>
    <form action="/processaequivalencia" method="post">
        <label for="Arquivo">Selecione o primeiro autômato:</label>
        <select name="arquivo1" id="arquivo1">
            {% for diretorio, arquivo in arquivos %}
                <option value="{{ diretorio }}/{{ arquivo }}">{{ arquivo }} ({{ diretorio }})</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="Arquivo">Selecione o segundo autômato:</label>
        <select name="arquivo2" id="arquivo2">
            {% for diretorio, arquivo in arquivos %}
                <option value="{{ diretorio }}/{{ arquivo }}">{{ arquivo }} ({{ diretorio }})</option>
            {% endfor %}
        </select>
        <button type="submit">Verificar Equivalência</button>
    </form>
</body>
</html>
</html>