<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Autômatos</title>
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Autômatos</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
    </head>
    <body>
        <div>
            <h1>Autômatos</h1>
            <h3>Selecione sua entrada</h3>
            <section>
                <ul class ="botoes">
                    <li>
                        <input type="button" onclick="location.href='/afd';" value="AFD" />
                    </li>
                    <li>
                        <input type="button" onclick="location.href='/afn';" value="AFN" />
                    </li>
                    <li>
                        <input type="button" onclick="location.href='/turing';" value="Máquina de Turing" />
                    </li>
                    <li>
                        <input type="button" onclick="location.href='/converter';" value="Converter AFD para AFN" />
                    </li>
                </ul>
                
                
                
            </section>
        </div>
    </body>
    </html></head>

