<!DOCTYPE html>
<html >
<head>
    <head>
        <meta charset="UTF-8">
        <title>Equivalência Entre Autômatos</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
    </head>
</head>
<body>
   
    <h1>Equivalência dos Autômatos</h1>
    <div class="container-imgs">
        <img src="{{ caminho1 }}" alt="Imagem do Autômato 1">
        <img src="{{ caminho2 }}" alt="Imagem do Autômato 2">
    </div>

    <br><br>

    <h2>Resultado da equivalência entre os autômatos: {{ resultado }}</h2>

    <br><br>

    <input type="button" class = "botao-voltar" onclick="location.href='/';" value="Voltar" />
</body>
</html>