<!DOCTYPE html>
<html>
<head>
    <title>Verificar Aceitação de Palavra</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <h1>Aceitação de Palavra</h1>
    <div>
        <input type="button" class = "botao-voltar" onclick="location.href='/';" value="Voltar" />
    </div>
    <br><br>
    <div>
        <form action="/verifica" method="post">
            <label for="Arquivo">Selecione autômato para gerar verificar a palavra:</label>
            <select name="arquivo" id="arquivo">
                {% for diretorio, arquivo in arquivos %}
                    <option value="{{ diretorio }}/{{ arquivo }}">{{ arquivo }} ({{ diretorio }})</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="Palavra">Digite a palavra a ser verificada: (separado por vírgula)</label>
            <input type="text" name="palavra" id="palavra">
            <button type="submit">Verificar Palavra</button>
        </form>
    </div>
</body>
</html>
</html>